html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: black;
}

.main-container {
    height: 779px;
    width: 550px;
    margin: 0 auto;

}

.top-container {
    height: 208px;
    width: 550px;
    display: flex;
    flex-direction: row;  
    justify-content: center;      /* center horizontally */
    align-items: center;          /* center vertically */ 
    gap: 80px;    
    background-image: url(images/background-picture.png);
    background-position: 20% 20%;
    color: white;
     position: relative;
    
    
      /* add a dark overlay */
  background-color: rgba(0, 0, 0, 0.7); /* black with 50% opacity */
  background-blend-mode: darken; /* or multiply, overlay, etc. */
}


.top-container h1 {
    font-size: 42.79px;
    font-weight: 800;

}

.top-container h4 {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
}

.search-box {
     position: absolute;
    bottom: -19px;  /* half of search-box height (38px / 2 = 19px) */
    left: 50%;
    transform: translateX(-50%); /* center horizontally */
    
    display: flex;
    align-items: center;
    
    /* optional: add a shadow so it stands out */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.search-bar {
    width: 342px;
    height: 38px;
    border: 1px solid #D1D5DB;   /* fixed your border syntax */
    border-right: none;          /* remove right border so it merges with button */
    border-radius: 6px 0 0 6px;  /* round only left corners */
    padding: 0 10px;
    outline: none;               /* optional: remove blue outline */
    color: #6B7280;
    font-weight: 500;

    
  padding-left: 35px;  /* space so text doesn’t overlap icon */

}

.search-button {
    height: 38px;
    width: 120px;
    background-color: #F9FAFB;
    border: 1px solid #D1D5DB;   /* fixed border syntax */
    border-radius: 0 6px 6px 0;  /* round only right corners */
    cursor: pointer;
}

.movie-container {
    height: 571px;
    background-color: #ffffff;
  overflow: scroll;

}

.inner-movie-container {
    width: 464px;
    padding: 20px;
}

.movie-card, .first-row, .second-row {
    display: flex;

}

.poster-image {
    width: 99px ;
    height: 147.41px;
}

.first-row {
   gap: 10px;
}

.second-row {
    gap: 10px;
}

.font18 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
}

.font12 {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
}

.font14 {
    font-size: 14px;
}

.movie-card {
    width: 462px;
    max-height: 147.41px;
    padding: 20px;
    gap: 20px
}

.right-side {
    height: 147.41px;
    
}